@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
        background:
linear-gradient(180deg,
  #183469 0%,
  #0f2b5c 20%, 
  #1a3a6e 50%, 
  #1e4080 70%,   
  #092f71 100%  
);
min-height: 85vh;
}

.title {
    font-size: 2.5rem;
    color : rgb(243, 218, 0);
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-family: 'Lilita One', cursive;
}
